/* timeout-notice
show-counter
countdown */

body {
  background-color: black;
}

.countdown {
  color: white;
}

.countdown p {
  color: white;
}

.show-counter .countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.display-counter {
  display: flex;
  justify-content: center;
  align-items: center;

}
